@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600&family=Inter:wght@400;500;600;700;800&family=Montserrat:wght@700;800&display=swap');
@import "tailwindcss";

@media print {
  @page {
    margin: 0;
  }
  body {
    background-color: white;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

